@use '../../styles/mixin.scss' as *;

.IndexKey {
  @include mq(md) {
    padding: 100px 0 180px;
  }
  @include mq(lg) {
    padding: 130px 0 230px;
  }
  position: relative;
  z-index: 1;
  width: 100vw;
  padding: 42px 0 60px;
  margin: 0 calc(-50vw + 50%);
  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &::before {
    @include mq(md) {
      width: 35vw;
      height: 28.88vw;
      max-width: 400px;
      max-height: 330px;
    }
    top: 20px;
    right: 0;
    width: 150px;
    height: 120px;
    background-image: url('/accent01.svg');
    background-position: top right;
  }
  &::after {
    @include mq(md) {
      width: 25vw;
      height: 22.7vw;
      max-width: 280px;
      max-height: 245px;
    }
    bottom: 0;
    left: 0;
    width: 100px;
    height: 90px;
    background-image: url('/accent02.svg');
    background-position: bottom left;
  }
}
